/* Master Styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    position: sticky;
    top: 0;
    background-color: darkcyan;
}

.left-side {
    float: left;
    display: flex;
}

.right-side {
    float: right;
    display: flex;
}

.gmail {
    margin-right: 10px;
}

.linkedin {
    margin-right: 10px;
}

.github {
    margin-right: 10px;
}

.brand a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio Styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
    .portfolio-items-wrapper {
        flex: 100%;
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.logo-wrapper {
    height: 6vw;
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.img-text-wrapper .subtitle {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
    font-size: 1.5vw;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightskyblue;
    font-size: 1.5vw;
}

.img-text-wrapper:hover img {
    display: none;
}

.img-darken {
    transition: .5s;
    filter: brightness(10%);
}

/* About Page Styles */

.profile-image-wrapper {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-wrapper {
    background-color: darkcyan;
    padding: 50px;
    color: white;
}

.about-wrapper h1 {
    color: white;
    font-weight: 600;
}

.skills-wrapper {
    padding: 50px;
    color: darkcyan;
}

.skills-wrapper h1 {
    color: darkcyan;
    font-weight: 600;
}

.skill {
    margin-left: 50px;
    margin-bottom: 50px;
}

.skill img {
    height: 50px;
    margin: 15px;
}

.achievement-wrapper {
    background-color: darkcyan;
    padding: 50px;
    color: white;
}

.achievement-wrapper h1 {
    color: white;
    font-weight: 600;
}

.research-wraper {
    padding: 50px;
    color: darkcyan;
}

.research-wraper h1 {
    color: darkcyan;
    font-weight: 600;
}

.experience-wrapper {
    background-color: darkcyan;
    padding: 50px;
    color: white;
}

.experience-wrapper h1 {
    color: white;
    font-weight: 600;
}

.contact-wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-wrapper h2 {
    color: rgb(155, 155, 155);
}

.contact-wrapper a {
    color: blue;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
}

.resume {
    margin-bottom: 50px;
}

.resume a {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    transition: color 0.5s;
    width: 120px;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.resume a:hover {
    transition: 0.5s;
    color: white;
    background-color: black;
}