/* Master Styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(241, 241, 241);
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    position: sticky;
    top: 0;
    background-color: lightgray;
}

.left-side {
    float: left;
    display: flex;
}

.right-side {
    float: right;
    display: flex;
}

.gmail {
    margin-right: 10px;
}

.linkedin {
    margin-right: 10px;
}

.github {
    margin-right: 10px;
}

.brand {
    color: maroon;
    font-weight: 500;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

/* Portfolio Styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 25vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.logo-wrapper {
    height: 6vw;
    position: absolute;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.img-text-wrapper .subtitle {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
    font-size: 1.5vw;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightskyblue;
    font-size: 1.5vw;
}

.img-text-wrapper:hover img {
    display: none;
}

.img-darken {
    transition: .5s;
    filter: brightness(10%);
}

/* About Page Styles */
.two-column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-image-wrapper img {
    width: auto;
    height: 300px;
    margin-top: 50px;
  }
  
.profile-content-wrapper {
    margin: 50px;
}

.profile-content-wrapper h1 {
    color: darkcyan;
}

.profile-content-wrapper h2 {
    margin-top: 50px;
    color: rgb(155, 155, 155);
}

.profile-content-wrapper a {
    color: black;
}

.profile-content-wrapper p {
    line-height: 2;
}

.profile-content-wrapper p a {
    text-decoration: none;
}

.skill {
    margin-left: 50px;
    margin-bottom: 50px;
}

.skill img {
    height: 50px;
    margin: 15px;
}

.resume {
    position: relative;
    height: 100px;
}

.resume-wrapper {
    margin: 0 auto;
    left: 50px;
    position: absolute;
    border: 1px solid;
    transition: color 0.5s;
    width: 120px;
    padding: 18px;
    text-align: center;
}

.resume-wrapper:hover {
    transition: 0.5s;
    background-color: black;
}

.resume-wrapper a {
    color: black;
    transition: 0.5s;
    font-weight: 600;
    text-decoration: none;
}

.resume-wrapper:hover a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}